
.top-header {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 10px;
  gap: 0;
}

.search-bar input,
.search-bar select {
  padding: 8px;
  border: 1px solid #ccc;
}

.search-bar input {
  border-radius: 4px 0 0 4px;
  width: 300px;
}

.search-bar select {
  border-left: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-nav {
  margin-top: 15px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-weight: bold;
}

.main-nav li:hover {
  background-color: #f44336;
  transition: background-color 0.9s;
}

.main-nav a {
  text-decoration: none;
  color: rgb(54, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: flex;
  gap: 20px;
  border: 2px solid #ccc;
  width: 80%;
  margin: auto;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.imgdiv {
  width: 30%;
  margin: auto;
}

#img {
  width: 100%;
}

.content {
  width: 65%;
}

.superdiv {
  display: flex;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.superdiv .icon {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superdiv .icon img {
  width: 50%;
}

.superdiv .paragraphs {
  width: 80%;
}

.superdiv p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
h2{
  text-align: center;
  padding-bottom: 10px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .imgdiv, .content {
    width: 100%;
  }

  .superdiv {
    flex-direction: column;
    text-align: center;
  }

  .superdiv .icon, .superdiv .paragraphs {
    width: 100%;
  }

  .superdiv .icon img {
    width: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imgdiv, .content {
    width: 100%;
  }
}
